In [13]:
# Alyssia Marshall
# Assignment 7: Data Warehousing and Normalization
# Date: 04/10/2025

# Load Required Packages

from sqlalchemy import create_engine, text # For connecting to SQL databases
import pandas as pd # For handling and manipulating data
import mysql.connector # For basic MySQL database operations

# Load the Cleaned Dataset

csv_file = "ds_salaries_clean.csv" # Local CSV file path
df = pd.read_csv(csv_file) # Load CSV into a DataFrame
print("Dataset loaded:")
print(df.head()) # Display first few rows to confirm

# Create MySQL Database

# Connect to MySQL server (not to a specific DB yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="wiwikiki"
)
cursor = conn.cursor()

# Create a new database for this assignment if it doesn't exist (quality assurance)
cursor.execute("CREATE DATABASE IF NOT EXISTS DS_Salaries")
print("Database created successfully in MySQL Workbench!")
cursor.close()
conn.close()

# Connect to MySQL using SQLAlchemy

DATABASE_URL = "mysql+mysqlconnector://root:wiwikiki@localhost/DS_Salaries"
engine = create_engine(DATABASE_URL)
print("Connected to MySQL database successfully!")

# Normalize the Dataset

# Create lookup (reference) tables by extracting unique values
experience_levels = df['experience_level'].drop_duplicates().reset_index(drop=True).to_frame(name="level")
employment_types = df['employment_type'].drop_duplicates().reset_index(drop=True).to_frame(name="type")
job_titles = df['job_title'].drop_duplicates().reset_index(drop=True).to_frame(name="title")
employee_locations = df['employee_residence'].drop_duplicates().reset_index(drop=True).to_frame(name="code")
company_locations = df['company_location'].drop_duplicates().reset_index(drop=True).to_frame(name="code")
company_sizes = df['company_size'].drop_duplicates().reset_index(drop=True).to_frame(name="size")

# Add surrogate keys (IDs) to each reference table
experience_levels['id'] = experience_levels.index + 1
employment_types['id'] = employment_types.index + 1
job_titles['id'] = job_titles.index + 1
employee_locations['id'] = employee_locations.index + 1
company_locations['id'] = company_locations.index + 1
company_sizes['id'] = company_sizes.index + 1

# Create mapping dictionaries to replace string values with IDs
exp_map = dict(zip(experience_levels['level'], experience_levels['id']))
emp_type_map = dict(zip(employment_types['type'], employment_types['id']))
job_title_map = dict(zip(job_titles['title'], job_titles['id']))
emp_loc_map = dict(zip(employee_locations['code'], employee_locations['id']))
comp_loc_map = dict(zip(company_locations['code'], company_locations['id']))
comp_size_map = dict(zip(company_sizes['size'], company_sizes['id']))

# Replace original string columns in main dataset with their corresponding IDs
df_normalized = df.copy()
df_normalized['experience_level'] = df_normalized['experience_level'].map(exp_map)
df_normalized['employment_type'] = df_normalized['employment_type'].map(emp_type_map)
df_normalized['job_title'] = df_normalized['job_title'].map(job_title_map)
df_normalized['employee_residence'] = df_normalized['employee_residence'].map(emp_loc_map)
df_normalized['company_location'] = df_normalized['company_location'].map(comp_loc_map)
df_normalized['company_size'] = df_normalized['company_size'].map(comp_size_map)

# Define and Create Tables

with engine.connect() as conn:
    # Drop existing tables to start fresh
    conn.execute(text("DROP TABLE IF EXISTS salaries"))
    conn.execute(text("DROP TABLE IF EXISTS experience_levels, employment_types, job_titles, employee_locations, company_locations, company_sizes"))

    # Create each reference (lookup) table
    conn.execute(text("""
        CREATE TABLE experience_levels (
            id INT PRIMARY KEY,
            level VARCHAR(10)
        )
    """))
    conn.execute(text("""
        CREATE TABLE employment_types (
            id INT PRIMARY KEY,
            type VARCHAR(10)
        )
    """))
    conn.execute(text("""
        CREATE TABLE job_titles (
            id INT PRIMARY KEY,
            title VARCHAR(255)
        )
    """))
    conn.execute(text("""
        CREATE TABLE employee_locations (
            id INT PRIMARY KEY,
            code VARCHAR(10)
        )
    """))
    conn.execute(text("""
        CREATE TABLE company_locations (
            id INT PRIMARY KEY,
            code VARCHAR(10)
        )
    """))
    conn.execute(text("""
        CREATE TABLE company_sizes (
            id INT PRIMARY KEY,
            size VARCHAR(10)
        )
    """))

    # Create the main 'salaries' table using foreign keys from reference tables
    conn.execute(text("""
        CREATE TABLE salaries (
            id INT AUTO_INCREMENT PRIMARY KEY,
            work_year INT,
            experience_level INT,
            employment_type INT,
            job_title INT,
            salary INT,
            salary_currency VARCHAR(10),
            salary_in_usd INT,
            employee_residence INT,
            remote_ratio INT,
            company_location INT,
            company_size INT,
            FOREIGN KEY (experience_level) REFERENCES experience_levels(id),
            FOREIGN KEY (employment_type) REFERENCES employment_types(id),
            FOREIGN KEY (job_title) REFERENCES job_titles(id),
            FOREIGN KEY (employee_residence) REFERENCES employee_locations(id),
            FOREIGN KEY (company_location) REFERENCES company_locations(id),
            FOREIGN KEY (company_size) REFERENCES company_sizes(id)
        )
    """))

# Populate the Tables with Data

with engine.begin() as conn:
    # Insert data into reference tables
    experience_levels.to_sql("experience_levels", conn, if_exists="append", index=False)
    employment_types.to_sql("employment_types", conn, if_exists="append", index=False)
    job_titles.to_sql("job_titles", conn, if_exists="append", index=False)
    employee_locations.to_sql("employee_locations", conn, if_exists="append", index=False)
    company_locations.to_sql("company_locations", conn, if_exists="append", index=False)
    company_sizes.to_sql("company_sizes", conn, if_exists="append", index=False)

    # Insert the normalized main salary data
    df_normalized.to_sql("salaries", conn, if_exists="append", index=False)

print("All tables created and populated successfully.")

Requirement already satisfied: mysql-connector-python in c:\users\coder\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (9.2.0)
Dataset loaded:
   work_year experience_level employment_type                 job_title  \
0       2023               SE              FT  Principal Data Scientist
1       2023               MI              CT               ML Engineer
2       2023               MI              CT               ML Engineer
3       2023               SE              FT            Data Scientist
4       2023               SE              FT            Data Scientist

   salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0   80000             EUR          85847                 ES           100
1   30000             USD          30000                 US           100
2   25500             USD          25500                 US           100
3  175000             USD         175000                 CA           100
4  120000             USD         120000                 CA           100

  company_location company_size
0               ES            L
1               US            S
2               US            S
3               CA            M
4               CA            M
Database created successfully in MySQL Workbench!
Connected to MySQL database successfully!
All tables created and populated successfully.