In [5]:
# Load necessary packages
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3
import pandas as pd

# Step 1: Connect to MySQL Server
conn = mysql.connector.connect(
    host="localhost",  
    user="root",  
    password="wiwikiki"  # Use your actual MySQL password
)
cursor = conn.cursor()

# Step 2: Create MySQL Database
cursor.execute("CREATE DATABASE IF NOT EXISTS DS_Salaries")
print("Database created successfully in MySQL Workbench!")

# Close the connection before switching to SQLAlchemy
cursor.close()
conn.close()

# Step 3: Connect to MySQL Database using SQLAlchemy
DATABASE_URL = "mysql+mysqlconnector://root:wiwikiki@localhost/DS_Salaries"
engine = create_engine(DATABASE_URL)

print("Connected to MySQL database successfully!")

# Step 4: Load the dataset
csv_file = "Jupyter/ds_salaries_clean.csv"  # Use the correct file path
df = pd.read_csv(csv_file)
print(df.head())  # Preview first 5 rows

# Step 5: Create the first table in MySQL
first_table_query = """ 
CREATE TABLE IF NOT EXISTS salaries (
    id INT AUTO_INCREMENT PRIMARY KEY,
    work_year INT,
    experience_level VARCHAR(10),
    employment_type VARCHAR(10),
    job_title VARCHAR(255),
    salary INT,
    salary_currency VARCHAR(10),
    salary_in_usd INT,
    employee_residence VARCHAR(10),
    remote_ratio INT,
    company_location VARCHAR(10),
    company_size VARCHAR(10)
);
"""

# Execute the query
with engine.connect() as connection:
    connection.execute(text(first_table_query))
    print("First table created successfully!")

# Step 6: Insert Data into the MySQL Table
with engine.connect() as connection:
    for _, row in df.iterrows():
        insert_query = text(f"""
        INSERT INTO salaries 
        (work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size) 
        VALUES 
        ({row['work_year']}, '{row['experience_level']}', '{row['employment_type']}', '{row['job_title'].replace("'", "''")}', {row['salary']}, '{row['salary_currency']}', {row['salary_in_usd']}, '{row['employee_residence']}', {row['remote_ratio']}, '{row['company_location']}', '{row['company_size']}');
        """)
        connection.execute(insert_query)
    
    print("Data inserted into MySQL table successfully!")

# Step 7: Verify Table in MySQL Workbench
with engine.connect() as connection:
    practice_query = text("SELECT * FROM salaries LIMIT 5;")
    result = pd.read_sql(practice_query, connection)
    print(result)

# Step 8: Create a Local MySQL Test Database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="wiwikiki"
)
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS TestDatabase")
print("Local MySQL test database 'TestDatabase' created successfully!")
cursor.close()
conn.close()

# Step 9: Create a Local SQLite Database (.db file)
sqlite_db_file = "local_test.db"
sqlite_engine = create_engine(f"sqlite:///{sqlite_db_file}")

# Save data into SQLite database
df.to_sql("salaries", con=sqlite_engine, if_exists="replace", index=False)
print("SQLite database and table 'salaries' created successfully!")

# Step 10: Close database connection
cursor.close()
conn.close()

Database created successfully in MySQL Workbench!
Connected to MySQL database successfully!
   work_year experience_level employment_type                 job_title  \
0       2023               SE              FT  Principal Data Scientist
1       2023               MI              CT               ML Engineer
2       2023               MI              CT               ML Engineer
3       2023               SE              FT            Data Scientist
4       2023               SE              FT            Data Scientist

   salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0   80000             EUR          85847                 ES           100
1   30000             USD          30000                 US           100
2   25500             USD          25500                 US           100
3  175000             USD         175000                 CA           100
4  120000             USD         120000                 CA           100

  company_location company_size
0               ES            L
1               US            S
2               US            S
3               CA            M
4               CA            M
First table created successfully!
Data inserted into MySQL table successfully!
Empty DataFrame
Columns: [id, work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size]
Index: []
Local MySQL test database 'TestDatabase' created successfully!
SQLite database and table 'salaries' created successfully!